In [1]:
import numpy as np
import pandas as pd
import collections as co
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import itertools as it
print(os.listdir())

['.ipynb_checkpoints', 'data', 'data.csv', 'data.json', 'data_sf.xls', 'First notebook', 'first python.ipynb', 'log.xls', 'movies.xls', 'movies_example.txt', 'Python A5 (01.03.2020).ipynb', 'Python B1-B3 (08.03.2020).ipynb', 'ratings.xls', 'ratings_example.txt', 'sample.xls', 'second.ipynb', 'StudentsPerformance.xls', 'third.ipynb', 'users — копия.xls', 'users.xls', '[SF-DST] Movies IMBD v3.0.ipynb', '[SF-DST] Movies IMBD v3.1 — копия.ipynb', '[SF-DST] Movies IMBD v3.1.ipynb', 'Знакомство с pandas (3).ipynb']

In [2]:
data = pd.read_csv('data.csv')
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data.budget==data.budget.max()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data.runtime==data.runtime.max()]['original_title']

1158    Gods and Generals
Name: original_title, dtype: object

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data.runtime==data.runtime.min()]['original_title']

769    Winnie the Pooh
Name: original_title, dtype: object

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.runtime.mean()

109.65343915343915

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.runtime.median()

106.5

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data[data.revenue==data.revenue.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [16]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
#вставляем в датафрейм (data) колонку "box"= показатель прибыльности = отшение дохода(revenue) к затратам(budget)
box=data.revenue/data.budget
data.insert(3, "box", box, True) #  в датафрейм вставили колонку с доходностью
data[data.box==data.box.min()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [18]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
data[data.revenue-data.budget>0].original_title.count()

1478

In [20]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
data[data.release_date.str.contains("2008")].sort_values('revenue', ascending=False).head(1).original_title

600    The Dark Knight
Name: original_title, dtype: object

In [22]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
df=data[(data.release_date.str.contains("2012"))|
      (data.release_date.str.contains("2013"))|
      (data.release_date.str.contains("2014"))]
df[df.box==df.box.min()]['original_title']

1034    Stolen
Name: original_title, dtype: object

In [24]:
answer_ls.append(2)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [25]:
new_list = data.genres.str.split('|').tolist()
new_list = [val for sublist in new_list for val in sublist] 
co.Counter(new_list).most_common(1)

[('Drama', 782)]

In [26]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
new_list = data[data.revenue-data.budget>0].genres.str.split('|').tolist()
new_list = [val for sublist in new_list for val in sublist] 
co.Counter(new_list).most_common(1)

[('Drama', 560)]

In [28]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [29]:
import collections as co
co.Counter(data.director).most_common(1)

[('Steven Soderbergh', 13)]

In [30]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [31]:
new_df=data[data.revenue-data.budget>0]
co.Counter(new_df.director).most_common(1)

[('Ridley Scott', 12)]

In [32]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [33]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [34]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [35]:
new_df = data[['cast','revenue']]
cast=new_df.cast.str.split('|').tolist()
new_df = pd.DataFrame(cast, index=new_df.revenue).stack()
new_df = new_df.reset_index([0, 'revenue'])
new_df.groupby([0])['revenue'].sum().sort_values(ascending=False).head(1)

0
Emma Watson    8159245597
Name: revenue, dtype: int64

In [36]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [37]:
new_df = data[['cast','revenue']][data.release_year == 2012]
cast=new_df.cast.str.split('|').tolist()
new_df = pd.DataFrame(cast, index=new_df.revenue).stack()
new_df = new_df.reset_index([0, 'revenue'])
new_df.groupby([0])['revenue'].sum().sort_values(ascending=True).head(1)

0
Nicolas Cage    2106557
Name: revenue, dtype: int64

In [38]:
answer_ls.append(1)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [39]:
new_df = data[['cast','budget']][data.budget > data.budget.mean()]
cast=new_df.cast.str.split('|').tolist()
new_df = pd.DataFrame(cast, index=new_df.budget).stack()
new_df = new_df.reset_index([0, 'budget'])
co.Counter(new_df[0]).most_common(3)

[('Matt Damon', 18), ('Adam Sandler', 17), ('Angelina Jolie', 16)]

In [40]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [41]:
# Делаем таблтцу с жанрами
new_df = data[['original_title','genres']]
genres=new_df.genres.str.split('|').tolist()
new_df = pd.DataFrame(genres, index=new_df.original_title).stack()
new_df = new_df.reset_index([0, 'original_title'])
# Делаем таблтцу с актерами
new_df1 = data[['cast','original_title']]
cast=new_df1.cast.str.split('|').tolist()
new_df1 = pd.DataFrame(cast, index=new_df1.original_title).stack()
new_df1 = new_df1.reset_index([0, 'original_title'])
new_df1=new_df1[new_df1[0]=='Nicolas Cage'] 
#Соединем таблицы по наименованию фильма
joined = new_df.merge(new_df1, on='original_title', how='right')
joined.head(10)
co.Counter(joined['0_x']).most_common(3)

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

In [42]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [43]:
new_df1 = data[['production_companies','original_title']]
production_companies=new_df1.production_companies.str.split('|').tolist()
new_df1 = pd.DataFrame(production_companies, index=new_df1.original_title).stack()
new_df1 = new_df1.reset_index([0, 'original_title'])
new_df1.head(13)
co.Counter(new_df1[0]).most_common(3)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122)]

In [44]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
new_df1 = data[['production_companies','original_title']][data.release_year == 2015]
production_companies=new_df1.production_companies.str.split('|').tolist()
new_df1 = pd.DataFrame(production_companies, index=new_df1.original_title).stack()
new_df1 = new_df1.reset_index([0, 'original_title'])
new_df1.head(13)
co.Counter(new_df1[0]).most_common(3)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8)]

In [46]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [47]:
new_df1 = data[['production_companies','revenue','release_year','genres']][data.genres.str.contains("Comedy")]
production_companies=new_df1.production_companies.str.split('|').tolist()
new_df1 = pd.DataFrame(production_companies, index=new_df1.revenue).stack()
new_df1 = new_df1.reset_index([0, 'revenue'])
new_df1.groupby([0])['revenue'].sum().sort_values(ascending=False).head(1)

0
Universal Pictures    12787945581
Name: revenue, dtype: int64

In [48]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [49]:
new_df = data[['production_companies','revenue']][data.release_year == 2012]
production_companies=new_df.production_companies.str.split('|').tolist()
new_df = pd.DataFrame(production_companies, index=new_df.revenue).stack()
new_df = new_df.reset_index([0, 'revenue'])
new_df.groupby([0])['revenue'].sum().sort_values(ascending=False).head(1)

0
Columbia Pictures    3468406608
Name: revenue, dtype: int64

In [50]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [51]:
new_df = data[['production_companies','revenue','original_title','budget']][data.production_companies.str.contains("Paramount Pictures")]
profit=new_df.revenue-new_df.budget
new_df.insert(3, "profit", profit, True) #  в датафрейм вставили колонку с показателем прибыли
new_df.sort_values('profit', ascending=True)[:1].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

In [52]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [53]:
profit=data.revenue-data.budget
data.insert(3, "profit", profit, True) #  в датафрейм вставили колонку с прибылью
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

In [54]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [55]:
new_df = data[data.production_companies.str.contains("Warner Bros")]
new_df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [56]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [57]:
monthe=data.release_date.str.split('/') # из колонки даты релиза делаем список [месяц,дата,год]
monthe=monthe.str.get(0) #оставляем только месяц, первый по индексу
data.insert(3, "monthe", monthe, True) #  в датафрейм вставили колонку с номером месяца
data.groupby(['monthe'])['original_title'].count().sort_values(ascending=False).head(1)

monthe
9    227
Name: original_title, dtype: int64

In [58]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [59]:
summer = data[(data.monthe=='6') | (data.monthe=='7') | (data.monthe=='8')]
summer.original_title.count()

450

In [60]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [61]:
winter = data[(data.monthe=='1') | (data.monthe=='2') | (data.monthe=='12')]
co.Counter(winter.director).most_common(1)

[('Peter Jackson', 7)]

In [62]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [63]:
data.groupby(['monthe'])['profit'].sum().sort_values(ascending=False).head(1)

monthe
6    27551262500
Name: profit, dtype: int64

In [64]:
answer_ls.append(1)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [65]:
long = data.original_title.str.len() # сформировали серию с длиной наименования фильма
data.insert(3, "long", long, True) #  в датафрейм вставили колонку с длиной
new_df = data[['production_companies','long']]
production_companies=new_df.production_companies.str.split('|').tolist()
new_df = pd.DataFrame(production_companies, index=new_df.long).stack()
new_df = new_df.reset_index([0, 'long'])
new_df.groupby([0])['long'].mean().sort_values(ascending=False).head(1)

0
Four By Two Productions    83.0
Name: long, dtype: float64

In [66]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [67]:
data['words'] = data['original_title'].str.split().str.len() 
new_df = data[['production_companies','words']]
production_companies=new_df.production_companies.str.split('|').tolist()
new_df = pd.DataFrame(production_companies, index=new_df.words).stack()
new_df = new_df.reset_index([0, 'words'])
new_df.groupby([0])['words'].mean().sort_values(ascending=False)[:1]

0
Four By Two Productions    12.0
Name: words, dtype: float64

In [68]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [69]:
data['original_title'] = data['original_title'].str.lower()
words = set(data.original_title.str.split().sum())
len(words)

2461

In [70]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [71]:
new_df = data[data.vote_average >= data.vote_average.quantile(0.99)]
films = ['inside out', 'gone girl', '12 years a slave', 'bloodrayne', 
         'the adventures of rocky and bullwinkle', 'the lord of the rings: the return of the king', 
         'upside down', '300', 'lucky number slevin']
new_df[new_df.original_title.str.contains('|'.join(films))]

,imdb_id,popularity,budget,long,monthe,profit,box,revenue,original_title,cast,...,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,words
9,tt2096673,6.326804,175000000,10,6,678708609,4.878335,853708609,inside out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,...,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,2
128,tt2267998,6.438727,61000000,9,10,308330363,6.054596,369330363,gone girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,...,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,2
1082,tt0167260,7.122455,94000000,45,12,1024888979,11.903074,1118888979,the lord of the rings: the return of the king,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,...,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,10
1192,tt2024544,3.625529,20000000,16,10,167000000,9.350000,187000000,12 years a slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,...,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,4

In [72]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [73]:
df=[]
cast=data['cast']
cast=cast.str.split('|').tolist()
for d in cast:
    combi=list(it.combinations(d, 2))
    for para in combi:
        df.append(para)
co.Counter(df).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [74]:
answer_ls.append(5)

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [79]:
new_df_long=data[['director','profit']]
director=new_df_long.director.str.split('|').tolist()
new_df_long = pd.DataFrame(director, index=new_df_long.profit).stack()
new_df_long = new_df_long.reset_index([0, 'profit'])
#Делаем таблицу с распакованными значениями режиссеров из data с прибылью
new_df_short=data[['director','profit']][data.profit>0]
director_s=new_df_short.director.str.split('|').tolist()
new_df_short = pd.DataFrame(director_s, index=new_df_short.profit).stack()
new_df_short = new_df_short.reset_index([0, 'profit'])
#Вставляем в таблицы колонку 'counts'= 1 для преобразования в pivot table
new_df_long['calc']=1
new_df_short['calc']=2
#Делаем сводную таблицу из бывшей data
pivot_long = new_df_long.loc[new_df_long[0].isin(['Clint Eastwood','Quentin Tarantino','Robert Rodriguez','Steven Soderbergh','Christopher Nolan'])].pivot_table(values=['profit'],
index=[0],columns=['calc'],aggfunc='count')
pivot_long=pivot_long.reset_index()
#Делаем сводную таблицу из бывшей data с прибылью
pivot_short = new_df_short.loc[new_df_short[0].isin(['Clint Eastwood','Quentin Tarantino','Robert Rodriguez','Steven Soderbergh','Christopher Nolan'])].pivot_table(values=['profit'],
index=[0],columns=['calc'],aggfunc='count')
pivot_short=pivot_short.reset_index()
#объединяем таблицы
pivot_merge=pivot_long.merge(pivot_short, on=0, how='right')
pivot_merge['percent']=pivot_merge['profit'][2]/pivot_merge['profit'][1]
pivot_merge

                      0 profit       percent
calc                         1   2
0     Christopher Nolan      8   8  1.000000
1        Clint Eastwood     12  10  0.833333
2     Quentin Tarantino      7   6  0.857143
3      Robert Rodriguez     11   8  0.727273
4     Steven Soderbergh     13  10  0.769231

In [76]:
answer_ls.append(4)

# Submission

In [77]:
len(answer_ls)

36

In [78]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       2
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       1
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       1
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4